<div class="content-a">
  <div class="content-b">
			<h2>sign in</h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div><%= f.email_field :email, :placeholder => 'email', autofocus: true %></div>
		  <div><%= f.password_field :password, :placeholder => 'password', autocomplete: "off" %></div>
		  <%# if devise_mapping.rememberable? -%>
		    <div><%#= f.check_box :remember_me %> <%#= f.label :remember_me %></div>
		  <%# end -%>
		  <div><%= f.submit "sign in", :class => 'button' %></div>
		<% end %>
	</div>
</div>
<nav><%= render "devise/shared/links" %></nav>