<article class="content-a">
	<section class="content-b">
		<%= form_for @garden do |f| %>
			<%= f.text_field :address, :placeholder => 'address' %><br />
			<%= f.text_field :city, :placeholder => 'city' %><br />
			<%= f.text_field :short_description, :placeholder => 'short description' %><br />
			<%= f.text_area :description, :placeholder => 'long description' %><br />
			<%= f.text_area :rules, :placeholder => 'garden rules' %><br />
			<%= f.file_field :photo %><br />
			<%= f.submit 'submit', :class => 'button' %>
		<% end %>
	</section>
</article>
