<%= @garden.inspect %>
<hr>
<%= image_tag @garden.photo.url(:medium) %>
<h3>Address:</h3><%= @garden.address %>
<h3>Neighborhood:</h3><%= @garden.neighborhood %>
<h3>City:</h3><%= @garden.city %> (<%= @garden.zipcode %>)
<h3>Short Description:</h3><%= @garden.short_description %>
<h3>Description:</h3><%= @garden.description %>
<h3>Guidelines:</h3><%= @garden.rules %>
<br>
<% binding.pry %>
<%= @garden.users.first.name %><br>
<%= @garden.users.first.email %>

<br>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=15&markers=#{@garden.geo_location}" %>