<!DOCTYPE html>
<html>
<head>
  <title>GardenShare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
</head>
<body style="font-family:sans-serif;">

<%= yield %>

<hr>
<%= current_user.inspect %>
</body>
</html>
