<!DOCTYPE html>
<html>
<head>
  <title>GardenShare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur2d68lu%2C7x%3Do5-9ab0g0"></script>
 
  <style type="text/css">#map { height: 300px; }</style>
</head>
<body style="font-family:sans-serif;">
<% if current_user %>
	<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'sign in', new_user_session_path %> 
	<%= link_to 'sign up', new_user_registration_path %>
<% end %>

<%= yield %>

<hr>
<%= current_user.inspect %>
</body>
</html>
